---
import MainLayout from '../layouts/MainLayout.astro';
import Counter from '../components/Counter';
import Button from '../components/Button';
---

<MainLayout title="Home">
  <Button client:load>Button!</Button>
  <Counter initialCount={10} client:load />
  <Counter client:load />
  <p>Another counter?</p>
</MainLayout>
